body {
    font-family: 'Raleway', sans-serif;
}

#suggest-btn {
    padding: 10px 20px 10px 20px;
    font-size: 40px;
}

#btn-div {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

#title {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

#desc {
    line-height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    font-size:25px;
    text-align: justify;
}
