body {
    font-family: 'Raleway', sans-serif;
}

#suggest-btn {
    padding: 10px 20px 10px 20px;
    font-size: 40px;
}

#btn-div {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

#title {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

#desc {
    line-height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    font-size:25px;
    text-align: justify;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    color: #fff;
    position:absolute; bottom:0;
    width: 100%;
}

.footer a:link {
    color: #FFF;
}

/* visited link */
.footer a:visited {
    color: #FFF;
}

.l-box {
    padding: 1em;
}

.is-center {
    text-align: center;
}
