<div id="btn-div">
<a class="pure-button pure-button-primary" id="suggest-btn" href="/suggest">
What Should I Build ?
</a>
</div>
<div id="title">
{{ .title }}
</div>
<div id="desc">
{{ .desc }}
</div>
