<html>
    <head>
        <link rel="stylesheet" text="text/css" href="/css/pure-min.css">
        <link rel="stylesheet" text="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3" id="btn-div">
            {{ yield }}
            </div>
            <div class="pure-u-1-3"></div>
        </div>
    </body>
</html>
